@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #363333;
}
article{
	width: 892px;
	height: 1286px;
	margin: auto;
	padding: 0 44px 40px 44px;
	background-color: white;
}
#line1{
	width: 892px;
	height: 2px;
	color: #938e8c;
}
#lace{
	width: 110px;
	height: 61px;
	background-color: #d45d5c;
	font-family: "黑体";
	font-size: 12px;
	position: relative;
}
span#site{
	position: absolute;
	bottom: 0;
	margin-left: 25px;
	color: white;
}
#part1{
	margin-top: 20px;
	width: 641px;
	height: 301px;
	background-image: url(image1.png);
	display: inline-block;
}
#left{
	width: 191px;
	height: 301px;
	background-color: rgba(16,241,98,0.3);
	float:left;
}
#right{
	width: 191px;
	height: 301px;
	background-color: rgba(235,97,99,0.3);
	float: right;
}
#part2{
	width: 203px;
	float: right;
}
#line2{
	width: 203px;
	height: 2px;
	color: #cc8091;
	margin: 20px auto 0 auto;
}
.title1{
	font-family: "微软雅黑";
	font-variant: small-caps;
	font-size: 24px;
	text-decoration: underline;
	line-height: 40px;
}
#title2{
	font-family: "楷体";
	font-size: 12px;
	line-height: 10px;
}
#title3{
	font-family: "楷体";
	font-size: 116px;
	color: #75b86b;
	font-style: italic;
}
#leftcol{
	font-family: "微软雅黑";
	font-size: 55px;
	color: #CC8091;
}
#rightcol1{
	font-family: "微软雅黑";
	font-size: 21px;
	color: #cc8091;
	vertical-align: bottom;
}
#rightcol2{
	font-family: "微软雅黑";
	fony-size: 12px;
	color: gray;
}
#part3{
	width: 660px;
	font-family: "微软雅黑";
	font-size: 12px;
	line-height: 16px;
}
.words{
	font-size: 16px;
	text-decoration: underline;
	font-weight: bold;	
}
#what{
	color: #418c59;
}
#when{
	color: #d2994f;;
}
#how{
	color: #cc7680;;
}
.box1{
	width: 200px;
	padding: 30px 20px 0 0;
	float: left;
}
.i{
	color: #cd4a48;
	line-height: 16px;
	opacity: 0.7;
}
#part4{
	width: 415px;
	font-family: "黑体";
}
#title5{
	font-size: 72px;
	font-variant: small-caps;
	color: #f5e327;
	font-weight: bolder;
	font-style: italic;
}
#title6{
	font-size: 42px;
	font-variant: small-caps;
	color: #11456b;
	font-weight: bold;
	line-height: 16px;
}
#title7{
	font-size: 33px;
	color: #11456b;
	font-weight: bold;
}
#part5{
	width: 458px;
	height: 275px;
	float: right;
	margin: 30px 0 0 0;
	position: relative;
}
#bottom{
	width: 438px;
	height: 41px;
	padding: 10px;
	background-color: rgba(6,6,6,0.40);
	position: absolute;
	bottom: 0;
}
#title8{
	font-size: 26px; 
	font-family: "微软雅黑"; 
	color: #FFFFFF; 
	margin: 30px;
}
#title8::after{
	content:"";
	width: 3px;
	height: 44px;
	background-color: #72b16a;
	position: absolute;
	top: 8px;
	left: 30px;
}
#last{
	width: 408px;
	height: 268px;
	margin-top: 25px;
	padding: 25px;
	background-color: #F5F593;
	position: relative;
}
.lastleft{
	font-size: 16px;
	line-height: 40px;
	color: #5a5b5b;
}
.lastright{
	font-size: 12px;
	line-height: 40px;
	font-style: italic;
	color: #5a5b5b;
}
#redbox{
	width: 260px;
	height: 160px;
	background-color: #EB292C;
	position: absolute;
	left: 0;
	bottom: 0;
}
#lastwords{
	font-family: "黑体";
	font-size: 14px;
	line-height: 16px;
	padding: 10px;
	color: #5a5b5b;
	width: 178px;
	position: absolute;
	bottom: -25px;
	right: 0;
}
#punctuation-top{
	font-family: "黑体";
	color: #D45D5C;
	font-size: 72px;
	vertical-align: -30px;;
}
#punctuation-bottom{
	font-family: "黑体";
	color: #D45D5C;
	font-size: 72px;
	vertical-align: -50px;
}
#zero{
	font-family: '微软雅黑'; 
	font-size: 110px; 
	color: #fff;
	float: left;
}
#zero::before{
	content:"";
	width: 2px;
	height: 86px;
	position: absolute;
	top: 32px;
	right: 190px;
	background-color: #fff;
}

