@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
article{
	background-color: #DDD9D9;
	padding-top: 30px;
	padding-bottom: 7px;
	position: relative;
}
a{
	text-decoration: none;
}
header a:link{
	color: #999;
}
header{
	width: 100%;
	height: 90px;
	background-color: #262626;
}
#logo{
	float: left;
	margin: 12.5px;
}
#header{
	float: right;
	margin-right: 30px;
}
.logo{
	margin: 35px 5px 0 5px;
	float: left;
}
span{
	color: #949494;
	font-weight: 600;
	font-size: 8px;
}
section{
	background-color: white;
	padding: 20px;
	margin: 0 440px 30px 30px;
}
aside{
	background-color: white;
	width: 360px;
	margin: 0 20px;
	padding: 20px;
	position: fixed;
	top: 120px;
	right: 0;
}
aside h4{
	border-left: gray solid 2px;
	padding-left: 5px;
}
td.left{
	width: 40%;
	text-align: right;
}
td.right{
	width: 60%;
	text-align: left;
}
.tip{
	font-size: 5px;
	color: #B5B4B4;
}
#submit{
	border-radius: 5px;
	border-style: none;
	background-color: #0C6AE8;
	width: 300px;
	height: 35px;
	color: white;
}
#list{
	width: 100%;
	border-spacing: 0;
}
#list td,th{
	border: solid #E0DADA 1px;
}
#list th{
	background-color: #423F3F;
	color: white;
}
footer{
	width: 100%;
	background-color: #262626;
	height: 30px;
	text-align: center;
	padding: 20px;
	color: white;
}
.pic{
	border: solid gray 1px;
	margin: 10px;
	padding: 10px;
	width: 200px;
	float: left;
}
#pics{
	overflow: hidden;
}













